
<div class="row">
  <div class="col-md-8">
<span><h3>Products</h3>   <button  class="btn btn-info" [routerLink]="['home']">Login</button></span>
 <hr>
    <div>
      <button href="#" class="btn btn-primary" (click)="add()">Add Products</button>
    </div>
    <hr><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts | async">
          <td>{{ post.id }}</td>
          <td style="word-break: break-all">{{ post.title }}</td>
          <td style="word-break: break-all">{{ post.description }}</td>
          <td>
           
            <button class="btn btn-warning ms-4" [routerLink]="['edit-post']" [queryParams]="{prop: post.id}">Update</button>
            <button class="btn btn-danger ms-4" (click)="onDeletePost(post.id || '0')" >Delete</button>
          
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
   <router-outlet></router-outlet>
  </div>
</div>
