<div class="row">
  <div class="col-md-6 offset-md-3">
      <form [formGroup]="postForm" (ngSubmit)="Login()">
          <div class="mb-3"><br><br><br><br>
              <h3>User Login</h3>
              <hr>
          </div>

          <div class="mb-3">
              <label>Email Id
              </label>
              <input type="text" class="form-control" formControlName="email">
          </div>

          <div class="mb-3">
              <label>PassWord
              </label>
              <input type="password" class="form-control" formControlName="password">
          </div>

          <div class="my-3">
              <button type="submit" class="btn btn-success">Login</button>
          </div>
      </form>
  </div>
</div>
<router-outlet></router-outlet>

